* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #212529;
}


.video {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    
}

.info_video {
    display: flex;
    flex-direction: row;
    align-items: top;
    padding: 5px;

}

.info_video_perfil {
    padding: 5px 5px 5px 0px;
}

.info_video_tumb {
    border-radius: 10px;
    cursor: pointer;
}

.info_video_descricao {
    overflow: hidden;
    text-overflow: ellipsis;
}

.video_principal{
    width: 100%;
}

.video_principal_settings{
    padding: 15px;
}

.descricao_principal{
    text-align: start;
    padding-left: 15px;
}

.v_2{
    margin-top: 10%;
}

.video-container_maiores {
    overflow: hidden;
    border-radius: 10px;
    width: 640px;
    box-shadow: 0px 9px 16px 2px rgba(17, 17, 17, 0.75);
}

.conteiner{
    padding: 0% 10%;
}

.truncates {
    max-width: 640px; /* Defina a largura máxima da célula */
    white-space: nowrap; /* Evita a quebra de linha */
    overflow: hidden; /* Oculta o texto que não cabe */
    text-overflow: ellipsis; /* Adiciona "..." ao final do texto que não cabe */
}