* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #212529;
}


.video {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    
}

.info_video {
    display: flex;
    flex-direction: row;
    align-items: top;
    padding: 5px;

}

.info_video_perfil {
    padding: 5px 5px 5px 0px;
}

.info_video_tumb {
    border-radius: 10px;
    cursor: pointer;
}

.info_video_descricao {
    overflow: hidden;
    text-overflow: ellipsis;
}

.video_principal{
    width: 100%;
}

.video_principal_settings{
    padding: 15px;
}

.descricao_principal{
    text-align: start;
    padding-left: 15px;
}