.superior__secao__container {
    height: 60px;
    color: #041832;
    font-size: 16px;
    background-color: #212529;
    padding: 15px 20px;
    position: fixed;
    top: 65px;
    right: 0;
    left: 80px;
}

.superior__item {
    color: white;
    font-size: 16px;
    background-color: #181818;
    border-radius: 20px;
    padding: 8px 20px;
    margin: 10px;
    cursor: pointer;
    width: 200px;
    text-decoration: none;
}

.superior__item:hover {
    color: black;
    background-color: #9D20FF;
    transition: .5s;
}

.superior__slider{
    position: absolute;
    right: 0%;
    width: 4%;
    height: 100%;
    display: none;
}
