* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #282828;
}

.Pesquisar {
    border: 3px solid #9D20FF;
    border-right: none;
    border-radius: 20px 0 0 20px;
    height: 50px;
    line-height: normal;
    color: #dadada;
    display: block;
    width: 70%;
    box-sizing: border-box;
    user-select: auto;
    font-size: 16px;
    padding: 0 6px;
    padding-left: 12px;
    background-color: #282828;
}

.pesquisar:focus {
    border: 3px solid #9D20FF;
}

.input_pesquisar {
    display: flex;
    flex-direction: row;
}

.btn__pesquisar {
    border-radius: 0 20px 20px 0;
    width: 65px;
    border: 3px solid #9D20FF;
    border-left: none;
    background-color: #1D1D1D;
}

.btn__perfil {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.logo{
    width: 100px;
    height: 35px;
}